ion-content {
    --background: var(--ion-card-background);
    color: var(--ion-text-color);
  
    .ion-padding {
      padding: 8px;
    }
  
    .headingLabel {
      font-size: 2.5em; /* Larger font for the heading */
      font-weight: bold;
      text-align: center;
      color: var(--ion-text-color);
      margin-bottom: 20px;
    }
  
    ion-card {
      border-radius: 15px; /* Rounded corners */
      --background: var(--ion-card-background);
      color: var(--ion-text-color);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
      margin: 10px;
      transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for scaling and blurring */
    
      ion-item {
        --background: var(--ion-card-background);
        font-size: 1.2em;
        color: var(--ion-text-color);
      }
  
      .card-header {
        font-size: 1.4em; 
        font-weight: bold; 
        color: var(--ion-text-color);
        padding: 10px 16px; 
        --background: var(--ion-card-background);
        border-bottom: 1px solid #e0e0e0; 
      }
  
      /* Enlarge and bring into focus on hover */
      &:hover {
        transform: scale(1.03); 
        filter: brightness(1.1); 
      }
  
      /* Make other cards less prominent  */
      &:not(:hover) {
        filter: blur(0.2px) brightness(0.9); /* Blur and darken */
        transition: filter 0.3s ease; 
      }
    }
    
    /* Center content in grid */
    ion-grid {
      ion-row {
        justify-content: center;
  
        ion-col {
          display: flex;
          justify-content: center;
          max-width: 100%; 
        }
      }
    }
  
    /* Spinner Styling */
    ion-spinner {
      display: block;
      margin: 20px auto;
    }
  }
  