/* Light Theme */
:root {
    --ion-background-color: #ffffff;
    --ion-text-color: #3340ef;
    --ion-card-background: rgb(255, 255, 255); 
}
  
  /* Dark Theme */
  body.dark-theme {
    --ion-background-color: rgba(0, 0, 0, 0.85); 
    --ion-text-color: #ffffff;
    --ion-card-background: rgba(42, 42, 42, 0.8); 
  }
  