<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Settings
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="ion-padding">

  <!-- Dark Mode Toggle -->
  <ion-item>
    <ion-label>Dark Mode</ion-label>
    <ion-toggle [(ngModel)]="darkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
  </ion-item>

  <!-- Other settings items -->
</ion-content>
